@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
}
body{
    background-color: white;
    width: 100%;
}
/* navigation bar */
.nav{
    background-color: black;
    opacity: .7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 35px;
    box-shadow: 5px 5px 5px rgb(241,229,241);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.nav-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
.nav-left img{
    height: 60px;
    width: 60px;
}
.nav-left span{
    margin-left: 15px;
    font-size: 30px;
    color: white;
}
.nav-right a{
    padding: 10px;
    font-weight: 400;
    color: white;
    text-decoration: transparent;
    transition: 1s ease-in-out, .5s ease-in-out;
}
.nav-right a:hover{
    color: darkred;
    font-weight: 600;
    text-shadow: 1px,1px,20px cyan;
    text-decoration: underline;
    text-underline-offset: 10px;
    letter-spacing: 2px;
}
.banner img{
    top: 0px;
    /* z-index: -1; */
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 0px;
}
.texts{
    display: flex;
    justify-content: space-around;
}
.div-left h1{
    position: absolute;
    color: white;
    width: 446px;
    height: 113px;
    left: 102px;
    top: 150px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 112px;
}
.div-left material-icons-outlined{
    position: absolute;
    left: 147px;
    /* right: 90.97%; */
    top: 280px;
    /* bottom: 87.63%; */
    background: #FFF9F9;
}
.div-left span h5{
    position: absolute;
    width: 388px;
    height: 42px;
    left: 110px;
    top: 280px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    
    color: #FFFFFF;    
}
.div-left .txt{
    position: absolute;
    width: 400px;
    height: 20px;
    left: 109px;
    top: 330px;
    z-index: 1;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.div-left .special{
    position: absolute;
width: 500px;
height: 85px;
left: 113px;
top: 400px;

background: rgba(0, 0, 0, 0.5);
}
.div-left .date{
    position: absolute;
width: 424px;
height: 40px;
left: 40px;
top: 10px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 40px;
color: #FFFFFF;
}
.div-left .place{
    position: absolute;
width: 477px;
height: 40px;
left: 40px;
top: 40px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 40px;
color: #FFFFFF;
}
.div-right h3{
    position: absolute;
width: 247px;
height: 59px;
left: 850px;
top: 220px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 59px;
text-align: center;
color: #FFFFFF;
}
.div-right button{
    position: absolute;
width: 300px;
height: 80px;
left: 850px;
top: 350px;
color: white;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 53px;
cursor: pointer;
background: #00A3FF;
border-radius: 50px;
}
.div-right img{
    position: relative;
    width: 50px;
    height: 30px;
    left: 10px;
    top: 0px;
    z-index: 4;
}
.about h1{
    position: absolute;
width: 365px;
height: 85px;
left: 113px;
top: 782px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 70px;
line-height: 85px;
/* identical to box height */
color: #000000;
}
.about h1 span{
    color: cornflowerblue;
}